* {
	margin:0;padding:0;
}

body {
	background:url(../img/main_bg.png) repeat;
}

.clear {
	clear:both;
}

@font-face {
	font-family:'segeo light';
	src:url('../font/segeo_light.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'segeo italic';
	src:url('../font/segeo_italic.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'segeo bold italic';
	src:url('../font/segeo_bold_italic.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

#footer {
	padding-bottom:30px;
	width:100%;
	float:left;
}

h1 {
	font-family:segeo bold italic;
	font-size:50px;
	position: absolute;
	top:-140px;
	left:200px;
	color:#ffffff;
	text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3);
    filter: dropshadow(color=#454545, offx=4, offy=4);
}

h2 {
	font-family:segeo italic;
	font-size:24px;
	position: absolute;
	top:55px;
	left:200px;
	color:#fff;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.3);
    filter: dropshadow(color=#454545, offx=2, offy=2);
}

#container {
	height:auto;
	width:940px;
	margin:0 auto;
	position:relative;
}

#powered {
	margin:30px;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	font-family: segeo light;
	color: #a2a2a2;
}

#powered a {
	text-decoration: none;
}

a{
	color: #48a4dc;
}

#powered a:visited {
	text-decoration: none;
	color: inherit;
}

#footer a:visited {
	text-decoration: none;
	color: #48a4dc;
}




#powered a:hover {
	text-decoration: none;
	color: #6fc4f8;
}

#greenbar {
	background:url(../img/green_bar.png) repeat-x;
	border-bottom-color: #5a7b1c;
}

#bluebar{
	background:url(../img/blue_bar.png) repeat-x;
	border-bottom-color: #104e6c;
}

#redbar{
	border-bottom-color: #6c1010;
	background:url(../img/red_bar.png) repeat-x;
}

#goldbar{
	border-bottom-color: #594416;
	background:url(../img/gold_bar.png) repeat-x;
}

#purplebar{
	border-bottom-color: #44106c;
	background:url(../img/purple_bar.png) repeat-x;
}


.bar{
	margin-bottom:35px;
	height:223px;
	width:445px;
	margin:20px 10px;
	float:left;
	padding-left:5px;
	position:relative;
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-radius:5px;
}