/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */



/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

body{
	background:#ececee;
}

a.button.postfix{
	padding-top:8px;	
}

.columns.box{
	background:#fff;
	border-radius:4px;
	margin-top:10px;
	border:1px solid #cfcfcf;
	box-shadow:0px 1px  4px #ddd;
}

h6.subheader{
	margin-bottom:5px;
}

.box.logo{
	border-radius: 0px 0px 4px 4px;
	height:77px;
	margin-top:-2px;
	background:url(../images/logo.png) center no-repeat #fff;
}

.navigation{
	width:100%;
	height:45px;
	background:#62a7c4;
	position:absolute;
	top:0px;
	left:0px;
}

.top-bar{
	background:#62a7c4;
	margin-bottom:0px;
}

.top-bar li a.active, .top-bar li a:hover{
	background:#80b8cf;
}

.top-bar li:hover a{
	color:#fff !important;
}

.servers .twelve.columns.heading h6{
	padding:0px;
	text-align:center;
	color:#666;
	font-size:16px;
}

.servers .four.columns,.servers .table .columns{
	padding-right:0px;
}
.servers .four.columns:last-child,.servers .table .columns:last-child{
	padding-right:15px;
}

.servers .four.columns:first-child,.servers .table .columns:first-child{
	padding-right:0px;
}

.servers .table{
	padding-right:15px;
}

.servers h5.subheader{
	margin:8px 0px 5px 0px;
	color:#848484;
	font-size:14px;
}

.servers .subtitle{
	font-size:12px;
	color:#b0b0b0;
}

.servers a.button.secondary{
	margin:8px 0px;
}

.servers .theading{
	margin-top:20px;
}

.servers table{
	margin-top:10px;
	font-size:10px;
}

.servers table .button{
	padding:4px;
}

.servers table th{
	color:#fff;
	background:#62a7c4;
}

.servers table tr:hover{
	cursor:pointer;
}
.button.active{ background-color: #2284a1; }

.tags a.button{
	margin:5px 3px;
}

.ad{
	padding:5px 0px;
}

.adsection{
	padding:10px 0px;
}

table { 
  border-spacing:0;
  border-collapse:collapse;
  border:none;
}

th:first-child{
	border-radius: 3px 0px 0px 0px;
}
th:last-child{
	border-radius: 0px 3px 0px 0px;
}

tbody{
	border:1px solid #ccc;
	border-width: 0px 1px 1px 1px;
}

img.mcuser{
	border-radius:3px;
	margin:3px;
}

.has-tip:hover{
	border:none;
	cursor:pointer;
}

.has-tip{
	border:none;
}

.footer{
	width:100%;
	background:#62a7c4;
	position: relative;
	margin-top: -45px; /* negative value of footer height */
	height: 45px;
	clear:both;
	color:#fff;
	padding-top:15px;
}
.footer a{
	color:#fff;
	font-weight:bold;
}
@media only screen and (min-height: 660px) and (min-width: 960px) {
	.sidebar-stick{
		width:235px !important;
		position:fixed;
		top:0px;
	}
	.sidecontainer{
		min-height:745px;
	}
}

.banner{
	border-radius:3px;
	box-shadow:0px 2px 3px #ccc;
}

.panel.embed{
	margin-top:10px;
	padding:5px;
	font-style:italics;
	font-size:11px;
	overflow: hidden;
    -ms-overflow-x: auto; /* IE8 */
    overflow-x: auto;
	white-space: nowrap;
}

.serverstat{
	text-transform:uppercase;
	color:#888;
	font-size:12px;
	text-align:center;
	width:20%;
	padding-bottom:15px;
}

.serverstat div{
	font-size:42px;
	font-weight:bold;
	color:#444;
	margin-top:13px;
}

.slink.down td{
	color:#aaa;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


